/* Import the Google Font 'Lato' */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

/* Container styles */
body {
  background-color: #2F2F2F;
  color: #333;
  font-family: 'Lato';
}

.container {
  padding: 50px 0;
  text-align: center;
}

.chart {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 20px;
  text-align: center;
  padding: 0;
  margin: 0;
    width: 300px;
  height: 300px;
  
}

#info1{
 
width:500px;
height: 500px;
position: relative;
margin: auto;
 margin-top: 100px;
}
#info1.pessoa{
 width: 10%;
 }
#info1.pessoa img{
 width: 100%;
 }


/*START - GRAFICO COLUNA*/
.column-graph{
  width: 100%;
  max-width: 940px;
  margin: auto;
  position: relative;
  padding-top: 30px;

}
.column-graph .esq{
  border:none;
  position: absolute;
  left: 40px;
  border-left: 2px solid #040404;
  height: calc(100% + 50px);
  width: 2px;
  top: 0;
}

.column-graph .bot{
  border:none;
  position: absolute;
  left: 0px;
  bottom: -30px;
  border-bottom: 2px solid #040404;
  height: 2px;
  width: calc(100%);
  
}

.column{
  height: 50px;
  margin-left: 42px;
  margin-top:10px ;
  position: relative;
  margin-bottom:10px ;
  font-family: arial;
  

}

.gringo{

  background-color: #256F8D;
}

.divider{
  text-align: center;
  background-color: #010101;
}

.Em_Obra{

  background-color: #F08418;
}

/*Alugados*/
#Alugados{

  width: 50%;
    -webkit-animation: Alugados 2s;
  animation: Alugados 2s;
  animation-fill-mode: forwards;  
}

#Alugados:after{
  content: ' 17 ';
  position: absolute;
  right: 10px;
  color: #000000;
  top: 10px;
  opacity: 0;
  -webkit-animation: see 2s;
  animation: see 2s;
  animation-delay: .5s;
  animation-fill-mode: forwards;  
}

#Alugados:before{
  content: 'Alugados';
  position: absolute;
  left: -46px; 
  float: left;
  color: #060606;
  top: 12px;
  opacity: 0;
  -webkit-animation: see 2s;
  animation: see 2s;
  animation-delay: .5s;
  animation-fill-mode: forwards;  
}


/*EM OBRA*/
.Em_Obra{

    width: 85%;
      -webkit-animation: br 2s;
  animation: br 2s;
  animation-fill-mode: forwards;  
}

.Em_Obra:after{
  content: ' 11 ';
  position: absolute;
  right: 10px;
  color: #000;
  top: 10px;
  opacity: 0;
  -webkit-animation: see 2s;
  animation: see 2s;
  animation-delay: .5s;
  animation-fill-mode: forwards;  
}

.Em_Obra:before{
  content: 'Em_Obra';
  position: absolute;
  left: -51px;
  float: left;
  color: #010101;
  top: 12px;
  opacity: 0;
  -webkit-animation: see 2s;
  animation: see 2s;
  animation-delay: .5s;
  animation-fill-mode: forwards;  
}

/*DISPONIVEIS*/
#Disponiveis{

  width: 95%;
  -webkit-animation: Disponiveis 2s;
  animation: Disponiveis 2s;
  animation-fill-mode: forwards;  
}

#Disponiveis:after{
  content: ' 6 ';
  position: absolute;
  right: 10px;
  color: #010101;
  top: 10px;
       opacity: 0;
    -webkit-animation: see 2s;
    animation: see 2s;
    animation-delay: .5s;
    animation-fill-mode: forwards;  
}

#Disponiveis:before{
  content: 'Disponiveis';
  position: absolute;
  left: -67px;
  float: left;
  color: #010101;
  top: 12px;
  opacity: 0;
  -webkit-animation: see 2s;
  animation: see 2s;
  animation-delay: .5s;
  animation-fill-mode: forwards;  
}

/*Anterior*/
#Anterior{

    width: 95%;
    -webkit-animation: Disponiveis 2s;
    animation: Disponiveis 2s;
    animation-fill-mode: forwards;  
  }
  
  #Anterior:after{
    content: ' 6 ';
    position: absolute;
    right: 10px;
    color: #010101;
    top: 10px;
         opacity: 0;
      -webkit-animation: see 2s;
      animation: see 2s;
      animation-delay: .5s;
      animation-fill-mode: forwards;  
  }
  
  #Anterior:before{
    content: 'Disponiveis';
    position: absolute;
    left: -67px;
    float: left;
    color: #010101;
    top: 12px;
    opacity: 0;
    -webkit-animation: see 2s;
    animation: see 2s;
    animation-delay: .5s;
    animation-fill-mode: forwards;  
  }

  /*Atual*/
#Atual{

    width: 95%;
    -webkit-animation: Disponiveis 2s;
    animation: Disponiveis 2s;
    animation-fill-mode: forwards;  
  }
  
  #Atual:after{
    content: ' 6 ';
    position: absolute;
    right: 10px;
    color: #010101;
    top: 10px;
         opacity: 0;
      -webkit-animation: see 2s;
      animation: see 2s;
      animation-delay: .5s;
      animation-fill-mode: forwards;  
  }
  
  #Atual:before{
    content: 'Disponiveis';
    position: absolute;
    left: -67px;
    float: left;
    color: #010101;
    top: 12px;
    opacity: 0;
    -webkit-animation: see 2s;
    animation: see 2s;
    animation-delay: .5s;
    animation-fill-mode: forwards;  
  }

    /*Posterior*/
#Posterior{

    width: 95%;
    -webkit-animation: Disponiveis 2s;
    animation: Disponiveis 2s;
    animation-fill-mode: forwards;  
  }
  
  #Posterior:after{
    content: ' 6 ';
    position: absolute;
    right: 10px;
    color: #010101;
    top: 10px;
         opacity: 0;
      -webkit-animation: see 2s;
      animation: see 2s;
      animation-delay: .5s;
      animation-fill-mode: forwards;  
  }
  
  #Posterior:before{
    content: 'Disponiveis';
    position: absolute;
    left: -67px;
    float: left;
    color: #010101;
    top: 12px;
    opacity: 0;
    -webkit-animation: see 2s;
    animation: see 2s;
    animation-delay: .5s;
    animation-fill-mode: forwards;  
  }

  
  






/*END - GRAFICO COLUNA*/

.chart img {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  background: rgb(3, 3, 3);
}
/* END Container styles */

/* Colors for the circles and positions for the graphics */
.html {
  top: 50px;
  left: 45px;
}

 svg .inner {
  stroke: #256F8D;
  fill: none;
    stroke-width: 10;
}

.html + svg .outer {
  stroke: #e34f26;
}


.css + svg .outer {
  stroke: #0d84ce;
}

.javascript {
  max-width: 90px;
  max-height: 90px;
  top: 45px;
  left: 45px;
}

.javascript + svg .outer {
  stroke: #f0e040;
}

.node {

  top: 45px;
  left: 45px;
}

.node + svg .outer {
  stroke: #83cd29;
}

.chart svg {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  z-index: 2;

}

/* grafico ciclo imoveis  */

#circle_Em_Obras:after {
  content: 'Em Obras';
  position: absolute;
   
  opacity: 0;

    border-right: 3px solid #F08418;
    bottom: 25px;
    left: -40px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    font-size: 20px;
    color: #040404;
    border-bottom: 3px solid #F08418;

    -webkit-animation: see 2s;
    animation: see 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;  

}

#circle_Alugados:after {
  content: 'Alugados';
  position: absolute;
   
  opacity: 0;

    border-right: 3px solid #F08418;
    bottom: 25px;
    left: -40px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    font-size: 20px;
    color: #040404;
    border-bottom: 3px solid #F08418;

    -webkit-animation: see 2s;
    animation: see 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;  

}

#circle_Disponiveis:after {
  content: 'Disponiveis';
  position: absolute;
   
  opacity: 0;

    border-right: 3px solid #F08418;
    bottom: 25px;
    left: -40px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    font-size: 20px;
    color: #050505;
    border-bottom: 3px solid #F08418;

    -webkit-animation: see 2s;
    animation: see 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;  

}

/* grafico ciclo mensadides */

#circle_anterior:after {
    content: 'Janeiro';/* definir ninamicamente*/
    position: absolute;
     
    opacity: 0;
  
      border-right: 3px solid #F08418;
      bottom: 25px;
      left: -40px;
      padding: 10px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 50px;
      font-size: 20px;
      color: #040404;
      border-bottom: 3px solid #F08418;
  
      -webkit-animation: see 2s;
      animation: see 2s;
      animation-delay: 1.5s;
      animation-fill-mode: forwards;  
  
  }
  
  #circle_atual:after {
    content: 'Fevereiro';/* definir ninamicamente*/
    position: absolute;
     
    opacity: 0;
  
      border-right: 3px solid #F08418;
      bottom: 25px;
      left: -40px;
      padding: 10px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 50px;
      font-size: 20px;
      color: #040404;
      border-bottom: 3px solid #F08418;
  
      -webkit-animation: see 2s;
      animation: see 2s;
      animation-delay: 1.5s;
      animation-fill-mode: forwards;  
  
  }
  
  #circle_posterior:after {
    content: 'Marco'; /* definir ninamicamente*/
    position: absolute;
     
    opacity: 0;
  
      border-right: 3px solid #F08418;
      bottom: 25px;
      left: -40px;
      padding: 10px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 50px;
      font-size: 20px;
      color: #050505;
      border-bottom: 3px solid #F08418;
  
      -webkit-animation: see 2s;
      animation: see 2s;
      animation-delay: 1.5s;
      animation-fill-mode: forwards;  
  
  }

/* Keyframes for the initial animation */

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: -251%;
  }
  
  to {
    stroke-dashoffset: -100%;
  }
}

@keyframes show75 {
  from {
        stroke-dashoffset: -251%;
  }
  
  to {
    stroke-dashoffset: -100%;
  }
}


@-webkit-keyframes Disponiveis {
  from {
    width: 0;
  }
  
  to {
    width: 95%;
  }
}

@keyframes Disponiveis {
  from {
    width: 0;
  }
  
  to {
    width: 95%;
  }
}

@-webkit-keyframes Alugados {
  from {
    width: 0;
  }
  
  to {
    width: 50%;
  }
}

@keyframes Alugados {
  from {
    width: 0;
  }
  
  to {
    width: 50%;
  }
}

@-webkit-keyframes br {
  from {
    width: 0;
  }
  
  to {
    width: 85%;
  }
}

@keyframes br {
  from {
    width: 0;
  }
  
  to {
    width: 85%;
  }
}
@keyframes see {
  from {
      opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}



/* END Keyframes for the initial animation */
